@media screen and (max-width: 800px){
    .block_A{
        height: 20%;
    }
    .block_B{
        width: 100%;
        height: 55%;
    }
    .block_C{
        width: 100%;
        height: 20%;
    }
}